language: php

php:
  - 5.6
  - 5.5
  - 5.4
  - hhvm-nightly
  - hhvm

env:
  - SYMFONY_VERSION=2.7.*@dev
  - SYMFONY_VERSION=2.6.*
  - SYMFONY_VERSION=2.5.*

matrix:
  allow_failures:
    - php: hhvm-nightly
    - php: hhvm

before_script:
  - composer selfupdate
  - composer require symfony/symfony:${SYMFONY_VERSION} --no-update
  - composer update --dev

script:
  - vendor/bin/atoum
  - phantomjs Resources/js/run_jsunit.js Resources/js/manager_test.html
