{% block image_widget %}
    {% spaceless %}

    {{ block('form_widget') }}
    {% if preview and image_url is not null %}
        <span class="fmb-form-preview">
            <img src="{{ asset(image_url) }}"/>
        </span>
    {% endif %}

    {% endspaceless %}
{% endblock %}
